{% extends 'base.html.twig' %}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ 'Langileen Kudeaketa' | trans }} {% endblock %}

{% block content_row %}
    <div id="toolbar">
        {#        <a class="btn btn-default" href="{{ path('admin_user_new') }}">Langile berria</a>#}
        <button id="btnBerria" class="btn btn-default">Langile berria</button>
    </div>
    <table id="table"

           data-id-field="id"
           data-classes="table table-hover table-condensed"
           data-striped="true"

           data-pagination="true"
           data-page-size="15"
           data-search="true" data-page-list="[25, 50, 100, 10000000]"

           data-sort-name="displayname"
           data-sort-order="asc"

           data-icon-size="sm"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-toolbar="#toolbar"
           data-show-export="true"
           data-export-types="['csv','excel', 'pdf']"
           data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

        <thead>
        <tr>
            <th data-visible="false" data-switchable="false" data-field="id"></th>
            <th data-halign="left" data-align="left" data-field="displayname"   data-sortable="true">{{ 'Izena' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="saila"    data-sortable="true">{{ 'Saila' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="nan"           data-sortable="true">{{ 'Nan' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="lanpostua"     data-sortable="true">{{ 'Lanpostua' | trans }}</th>
            <th data-halign="center" data-align="center" data-field="aktibo"     data-sortable="true">Kuadrantean erakutsi</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.department }}</td>
                <td>{{ user.nan }}</td>
                <td>{{ user.lanpostua }}</td>
                <td>
                    {% if user.aktibo == false %}
                        <span class="label label-danger toggle-active" data-id="{{ user.id }}" data-status="0"><a href="javascript:void(0)">Baja</a></span>
                    {% else %}
                        <span class="label label-success toggle-active" data-id="{{ user.id }}" data-status="1"><a href="javascript:void(0)">Alta</a></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>

        var $table = $( "#table" ), selections = [];

        function initTable() {
            $table.bootstrapTable( {
                height: getHeight()
            } );
            $table.bootstrapTable( "uncheckAll" );
        }

        function getHeight() {
            var winh = $( window ).height();
            var h2h = $( "h2" ).outerHeight( true );
            var fooh = $( "footer" ).outerHeight( true );
            return winh - h2h - fooh - 200;
        }

        $( function () {
            initTable();
            
            // Toggle active status via AJAX
            $(document).on('click', '.toggle-active', function() {
                var $this = $(this);
                var userId = $this.data('id');
                
                $.ajax({
                    url: '{{ path('admin_user_toggle_active', {'id': 'USER_ID'}) }}'.replace('USER_ID', userId),
                    method: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            // Update the UI
                            if (response.isActive) {
                                $this.removeClass('label-danger').addClass('label-success');
                                $this.data('status', 1);
                                $this.find('a').text('Alta');
                            } else {
                                $this.removeClass('label-success').addClass('label-danger');
                                $this.data('status', 0);
                                $this.find('a').text('Baja');
                            }
                        } else {
                            // Show error message
                            alert('Errorea: ' + response.message);
                        }
                    },
                    error: function(xhr) {
                        var errorMsg = 'Errorea gertatu da';
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            errorMsg = xhr.responseJSON.message;
                        }
                        alert(errorMsg);
                    }
                });
            });
        } );

    </script>
{% endblock %}
