{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}
{% block headline %}{{ 'Zinegotziak - Taldeak' }} {% endblock %}

{% block content_row %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Zinegotziak eta beraien taldeak</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Zinegotzia</th>
                            <th>Taldeak</th>
                            <th>Ekintzak</th>
                        </tr>
                        </thead>
                        <tbody id="zinegotziak-tbody">
                        {% for zinegotzia in zinegotziak %}
                            <tr data-user-id="{{ zinegotzia.id }}">
                                <td>{{ zinegotzia.displayname ?? zinegotzia.username }}</td>
                                <td class="taldea-labels">
                                    <div id="taldeak-{{ zinegotzia.id }}"></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#taldeakModal{{ zinegotzia.id }}">
                                        Taldeak kudeatu
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="taldeakModal{{ zinegotzia.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">{{ zinegotzia.displayname ? zinegotzia.displayname : zinegotzia.username }} - Sailak esleitu</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        {% for taldea in taldeak %}
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           class="taldea-checkbox"
                                                                           data-user-id="{{ zinegotzia.id }}"
                                                                           data-taldea-id="{{ taldea.id }}"
                                                                           {% if taldea in zinegotzia.zinegotziTaldeak %}checked{% endif %}
                                                                    >
                                                                    {{ taldea.izena }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Itxi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Initialize taldeak labels
            {% for zinegotzia in zinegotziak %}
                var taldeakContainer = $('#taldeak-{{ zinegotzia.id }}');
                {% for taldea in zinegotzia.zinegotziTaldeak %}
                    taldeakContainer.append('<span class="label label-primary taldea-{{ taldea.id }}">{{ taldea.izena }}</span> ');
                {% endfor %}
            {% endfor %}

            $('.taldea-checkbox').change(function() {
                var userId = $(this).data('user-id');
                var taldeaId = $(this).data('taldea-id');
                var isChecked = $(this).is(':checked');
                var checkbox = $(this);
                var taldeaText = checkbox.closest('label').text().trim();
                var taldeakContainer = $('#taldeak-' + userId);

                $.ajax({
                    url: '{{ path('admin_zinegotzi_taldea_assign') }}',
                    method: 'POST',
                    data: {
                        userId: userId,
                        taldeaId: taldeaId,
                        isChecked: isChecked
                    },
                    success: function(response) {
                        if (response.success) {
                            // Actualizar solo los labels de los taldeak
                            if (isChecked) {
                                taldeakContainer.append('<span class="label label-primary taldea-' + taldeaId + '">' + taldeaText + '</span> ');
                            } else {
                                taldeakContainer.find('.taldea-' + taldeaId).remove();
                            }
                        } else {
                            alert('Error al actualizar la asignación');
                            checkbox.prop('checked', !isChecked);
                        }
                    },
                    error: function() {
                        alert('Error al actualizar la asignación');
                        checkbox.prop('checked', !isChecked);
                    }
                });
            });
        });
    </script>
{% endblock %}
